{
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.scss",
      "options": { "printWidth": 80 }
    }
  ]
}
